<!--컴퓨터공학과 201935247 김현겸-->
<table class="table table-bordered border-primary">
    <% if (haveType) {  %>
        <thead>
            <td>제목</td>
            <td>페이지당 글 수</td>
            <td>설명</td>
            <td>일반 사용자 쓰기 가능 여부</td>
            <td>댓글 가능 여부</td>
            <td colspan="2"></td>
        </thead>
        <% var i = 0
             while (i<list.length) { %>
                <tr>
                    <td><%=list[i].title%></td>
                    <td><%=list[i].numPerPage%></td>
                    <td><%=list[i].description%></td>
                    <td><%=list[i].write_YN%></td>
                    <td><%=list[i].re_YN%></td>
                    <td><a href="/board/type/update/<%=list[i].type_id %>">수정</a></td>
                    <td><a href="/board/type/delete/<%=list[i].type_id %>" onclick="if(confirm('정말로 삭제하시겠습니까?')==false){return false; }">삭제</a></td>
                </tr>
        <% i += 1 } %>
    </table>
    <% } 
else { %>
        <tr>
            <td>자료 없음</td>
        </tr>
    </table>
<% } %>