<!-- 컴퓨터공학과 201935247 김현겸-->
<div class="container">	
	<script>
		function displayFileName(){
			var fileName = $("#file").val();
			$(".upload-name").val(fileName);
		}
	</script>

	<% if(check ==='c') { %>
	<h2>상품 입력</h2>
	<form action="/merchandise/create_process" method="post" enctype="multipart/form-data">
		<div class="mb-3">
			<label class="form-label" for="category">카테고리</label> 
			<select name = "category" id = "category">
				<% var i = 0;
				while(i < list.length){ %>
				<option value="<%= list[i].sub_id %>"><%= list[i].sub_name%></option>
				<% i++; } %>
			</select>
		</div>
		<div class="mb-3">
			<label class="form-label" for="name">제품명</label> 
			<input class="form-control" type="text" name="name" style = "width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="price">가격</label> 
			<input class="form-control" type="text" name="price" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="stock">재고</label> 
			<input class="form-control" type="text" name="stock" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="brand">브랜드</label> 
			<input class="form-control" type="text" name="brand" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="supplier">공급자</label> 
			<input class="form-control" type="text" name="supplier" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="sale_yn">할인여부</label> 
			<input class="form-control" type="text" name="sale_yn" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="sale_price">할인가격</label> 
			<input class="form-control" type="text" name="sale_price" style="width:300px;" />
		</div>
		<div class="mb-3">
			<input class="upload-name" value="" name = "image" placeholder="이미지파일">
			<input type="file" id="file" name="uploadFile" onchange="displayFileName()">
		</div>
		<button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
	</form>
<% } else if(check === 'u') { %>
	<h2>상품 수정</h2>
	<form action="/merchandise/update_process" method="post" enctype="multipart/form-data">
		<input type="hidden" name="mer_id" value="<%=list[0].mer_id %>">
		<div class="mb-3">
			<label class="form-label" for="category">카테고리</label> 
			<select name = "category" id = "category">
				<% var i = 0;
				while(i < code.length){ 
					var selected = ''; 
					if (list[0].category === (code[i].sub_id)){
						selected = 'selected';
					} %>
				<option value="<%= list[0].sub_id %>"><%= code[i].sub_name%></option>
				<% i++; } %>
			</select>
		</div>
		<div class="mb-3">
			<label class="form-label" for="name">제품명</label> 
			<input class="form-control" type="text" value="<%=list[0].name%>" name="name" style = "width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="price">가격</label> 
			<input class="form-control" type="text" value="<%=list[0].price%>" name="price" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="stock">재고</label> 
			<input class="form-control" type="text" value="<%=list[0].stock%>" name="stock" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="brand">브랜드</label> 
			<input class="form-control" type="text" value="<%=list[0].brand%>" name="brand" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="supplier">공급자</label> 
			<input class="form-control" type="text" value="<%=list[0].supplier%>" name="supplier" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="sale_yn">할인여부</label> 
			<input class="form-control" type="text" value="<%=list[0].sale_yn%>" name="sale_yn" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="sale_price">할인가격</label> 
			<input class="form-control" type="text" value="<%=list[0].sale_price%>" name="sale_price" style="width:300px;" />
		</div>
		<div class="mb-3">
			<input class="upload-name" value="<%=list[0].image%>" name = "image" placeholder="이미지파일">
			<input type="file" id="file" name="uploadFile" onchange="displayFileName()">
		</div>
		<button class="btn btn-outline-primary btn-sm" type="submit">수정</button>
	</form>
	<% } %>
</div>