<!-- 컴퓨터공학과 201935247 김현겸 -->
<h2 class="fw-bold mb-2"><%=who%>님의 구매내역</h2>
<table class="table table-bordered border-primary text-center" style="width: 1300px;">
    <% if (havePurchase) { %>
        <thead>
            <td class="fw-bold">상품</td>
            <td class="fw-bold">상품명</td>
            <td class="fw-bold">단가</td>
            <td class="fw-bold">구매량</td>
            <td class="fw-bold">총 금액</td>
            <td class="fw-bold">구매일</td>
            <td class="fw-bold">취소여부</td>
        </thead>
        <% var i = 0
             while (i<list.length) { %>
                <tr>
                    <td><img src="<%=list[i].image%>" alt="merchandise image" style="width: 30%;"></td>
                    <td class="align-middle"><%=list[i].name%></td>
                    <td class="align-middle"><%=list[i].price%></td>
                    <td class="align-middle"><%=list[i].qty%></td>
                    <td class="align-middle"><%=list[i].total%></td>
                    <td class="align-middle"><%=list[i].date%></td>
                    <td class="align-middle">
                        <% if (list[i].cancel === 'N'){ %>
                            <a href="/purchase/cancel/<%=list[i].purchase_id %>" onclick="if(confirm('정말로 취소하시겠습니까?')==false){return false; }">구매취소</a>
                        <% } else{ %>
                            취소된 상품 
                            <% } %>
                    </td>
                </tr>
        <% i += 1 } %>
</table>

<% }
    else { %>
    <tr>
        <td>자료 없음</td>
    </tr>
</table>
<% } %>